<div class="row ps-4">
  <div class="col d-flex justify-content-center">
    <div class="card w-100 my-long-card">
      <div class="card-body row p-0">
        <div class="col-3 p-0">
          <img class="card-img-top" src="{{model.image}}" alt="Card image cap">
        </div>
        <div class="col px-4 h-100 d-flex align-items-center">
          <div class="col d-flex flex-column justify-content-evenly h-100">
            <div class="float-start pt-3 w-100">
              <div class="d-flex justify-content-between ">
                <div class="receipt-title"><h5 class="card-title" (click)="openReceipt(model.id)">{{model.title}}</h5></div>
              </div>
            </div>
            <div [innerHTML]="model.summary | slice:0:300"></div>
            <div class="float-start w-100 mt-auto pb-2">
              <div class="d-flex justify-content-between">
                <div><p>{{model.pricePerServing}} kcal</p></div>
                <button type="button" class="btn btn-success button" (click)="applySelectedMeals(model)">Izaberi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
