<div *ngFor="let item of mealList; let i = index" [attr.data-index]="i" class="row suggestion-item">
  <div class="col-4 p-0">
    <img src="{{item.image}}" class="img-thumbnail" alt="{{item.title}}">
  </div>
  <div class="col d-flex align-items-start flex-column">
    <div class="float-start p-2 mt-2 w-100">
      <div class="d-flex justify-content-between">
        <div><h6 style="text-transform: uppercase;">{{mealType[i]}}</h6></div>
        <div class="ml-auto"><h5>{{item.calories}} kcal</h5></div>
      </div>
    </div>
    <div class="float-start p-2">
      <h5 style="text-align: left;">{{item.title}}</h5>
    </div>
    <div class="form-check item-checkbox mt-auto p-2">
      <input class="form-check-input" type="checkbox" value="" (change)="setSelectedMeals($event, i)" id="flexCheckDefault">
    </div>
  </div>
</div>
